/* css/estilo.css */
/* estilos para la pagina de inicio */
/**  **/
/*****
 * registro 1ra vez
 */
 @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&family=Roboto+Slab:wght@300&display=swap');
 * {
    box-sizing: border-box;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0;
    zoom: 1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
 }
 body {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.6;
    appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
 }
 a {
    color: #003667;
  }
  a:visited {
    color: #003667;
  }
  a:active {
    color: #000;
  }
  
  .text-white a {
    color: #FFF;
  }
  .text-white  a:visited {
    color: #FFF;
  }
  .text-white  a:active {
    color: #FFF;
  }
  a.no-border,
  .no-border a {
    color: #656568;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
  }
  a.no-border:hover,
  .no-border a:hover {
    color: #1e1e1e;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
  }
  .white a.no-border,
  .white .no-border a {
    color: #fff;
    color: rgba(255,255,255,.8);
  }
  .white  a.no-border:hover,
  .white  .no-border a:hover {
    color: #fff;
  }
 p:last-child {
    margin-bottom: 0;
  }
  .page-header {
     margin: 0 0 ;
   border-bottom: 1px solid #e1e1e1;
     padding: 30px 0 0 0;
    margin-bottom: 15px;
 }
 .panel-rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }
 .titulo1 {
    color: black;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 36px;
 }
 .parrafo1 {
    color: #333;
    font-family: 'Arimo', serif;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    line-height: 1.35;
 }
.circle-1 {
    border-radius: 50%;
    background-color: #003637;
    color: white;
    width: 46px;
    height: 46px;
    float: left;
}
.nro-interior {
    position:relative;
    top: 20%;
    left: 35%
}
.banda-h {
    background-color: #90a19d;
    width: 93px;
    float: left;
}
.paso-1 {
    margin-top: 17px;
}
#top-box {
    margin-top: 0px;
}
#top-box .top-box-wrapper{
	background: linear-gradient(to right, #003667, #003667); color:#FFF;
    min-height: 30px;
	padding: 5px 0;
}
#top-box .top-box-wrapper p{
	line-height: 30px;
}
/* Nav Bar */
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #7b7b7b;
  text-shadow: none;
}
.top-navbar {
    background: none;
    border: 0 none;
    border-radius: 0;
    height: auto;
    margin: 0;
    min-height: 30px;
  }
  .top-navbar .collapse {
    padding: 0;
  }
  .top-navbar .nav {
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .top-navbar .nav > li a {
    font-size: 12px;
    line-height: 22px;
    padding: 9px 15px 9px;
    -webkit-transition:
      background 0.2s linear,
      color 0.2s linear;
    transition:
      background 0.2s linear,
      color 0.2s linear;
  }
  .top-navbar .nav > li a .fa {
    font-size: 120%;
    /*margin-right: 4px;*/
  }
  .top-navbar .nav > li a .fa.after {
    font-size: 120%;
    /* margin-left: 4px;
     margin-right: 0;*/
   }
   .top-navbar .nav > li a .count {
    background: rgba(255,255,255,.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    font-size: 110%;
    line-height: 1;
    margin-left: 4px;
    padding: 3px 5px;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }
  .top-navbar .nav > li:hover a .count {
    background: rgba(0,0,0,.1);
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }
  .top-navbar .nav > li:hover > a,
.top-navbar .nav > li > a:hover {
  background: #efefef;
  color: #7b7b7b;
  -webkit-transition:
    background 0.2s linear,
    color 0.2s linear;
  transition:
    background 0.2s linear,
    color 0.2s linear;
}
.top-navbar .nav > li a {
	color:#FFF;

}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.weatherInfo{
    font-size:11px;
}
