/*****
 * registro 1ra vez
 */
 @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&family=Roboto+Slab:wght@300&display=swap');
 .titulo1 {
    color: black;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    font-size: 36px;
 }
 .parrafo1 {
    color: #6B6B6B;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
 }
.circle-1 {
    border-radius: 50%;
    background-color: #003637;
    color: white;
    width: 46px;
    height: 46px;
    float: left;
}
.nro-interior {
    position:relative;
    top: 20%;
    left: 35%
}
.banda-h {
    background-color: #90a19d;
    width: 93px;
    float: left;
}
.paso-1 {
    margin-top: 17px;
}