a { text-decoration: none; }

.bg-sec1 { background-color: #003763; }
.bg-sec2 { background-color: #9c1642; }
.bg-sec3 { background-color: #859222; } 
.bg-sec4 { background-color: #000000aa; } 

.texto--pastilla { font-size: 16pt; color: white; }