/* CSS - PREINSCRIPCION */
body {
    font-family: 'Arimo' 'Sans Serif';
    font-size: 14px;
}
.oculto { visibility: hidden; }
.opa-05 { opacity: 0.5 !important; }
.transicion-1 {
    overflow-x: hidden;
    margin-left: 0px;
    /***/
    transition: margin-left 2s linear 0s;
    /***/

    -o-transition: margin-left 1s linear 0s;
    -moz-transition: margin-left 1s linear 0s;
    -webkit-transition: margin-left 1s linear 0s;
    /* * */
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0;
    transition-property: margin-left;
}
.sale-izquierda { margin-left: -10000px; }
.sale-derecha { margin-left: 10000px; }
.desactivado-1 {
    margin-left: 10000px;
} 
.entrada {
    margin-left: 0px;
}

/* pasos */
.paso-bg-activo {
    background-color: #003763;
}
.paso-bg-inactivo {
    background-color: #00366380;
}

/* comentarios */
.aclara-1 {
    font-size: 9pt;
    font-style: italic;
}

.btn-eliminar-actividad {
    cursor:pointer;
}

.fondo-formulario {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 7px;
}

/* tabla capacidad instalada */
.marizq-5 { margin-left: 5px; }
.input-ancho-1 { width: 86px; }
.input-sinborde {
    border: none;
    outline: none;
  }
.pad-l { padding-left: 3px;}
.tablaCapIns--borde {
    border: #000 solid 1px;
}
.ancho-1 { width: 32px;}
.tablaCapIns--linea1 {
    border: #000 solid 1px;
    text-align: center;
    padding: 0;
    margin: 0;
    column-span: 2;
    -webkit-column-span: 2;
    -ms-grid-column-span: 2;
}
.tablaCapIns--linea2 {
    border: #000 solid 1px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.tablaCapIns--linea3 {
    border: #000 solid 1px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.tablaCapIns--linea4 {
    border: #000 solid 1px;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.tablaCapacidadInstalada .sin-salto {
    white-space: nowrap;
    padding-right: 3px;
}













/*
.tableCapacidadInstalada {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
.tableCapacidadInstalada th, td {
    padding: 5px;
    text-align: center;
    border: solid 1px #000;
  }
.tableCapacidadInstalada th:first-child {
    text-align: left;
  }
.tableCapacidadInstalada th:nth-child(n+2) {
    font-size: 14px;
  }
.tableCapacidadInstalada th:nth-child(2) {
    font-weight: bold;
  }
*/
