/* CSS - PREINSCRIPCION */
body {
    font-family: 'Arimo' 'Sans Serif';
    font-size: 14px;
}
.oculto { visibility: hidden; }
.opa-05 { opacity: 0.5 !important; }
.transicion-1 {
    overflow-x: hidden;
    margin-left: 0px;
    /***/
    transition: margin-left 2s linear 0s;
    /***/

    -o-transition: margin-left 1s linear 0s;
    -moz-transition: margin-left 1s linear 0s;
    -webkit-transition: margin-left 1s linear 0s;
    /* * */
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0;
    transition-property: margin-left;
}
.sale-izquierda { margin-left: -10000px; }
.sale-derecha { margin-left: 10000px; }
.desactivado-1 {
    margin-left: 10000px;
} 
.entrada {
    margin-left: 0px;
}

/* comentarios */
.aclara-1 {
    font-size: 9pt;
    font-style: italic;
}

.btn-eliminar-actividad {
    cursor:pointer;
}